
#symbols ul li .direction {
	border: solid 1px gray;
	background-color: gray;
}
	
#symbols ul li a.symbol {
}

#symbols ul li.up .direction {
	background-color: #00F549;
}
	
#symbols ul li.up a.symbol {
	color: #00F549;
}

#symbols ul li.down .direction {
	background-color: #cc0000;
}
	
#symbols ul li.down a.symbol {
	color: #cc0000;
}