h1 Order
- if (errz)
	ul
	- errz.forEach(function(err) {
		li= err
	- })
form(method="post")
	label User Name
	input(name="user", type="text", value= user)
	br
	label Symbol
	select(name="symbol")
		- each s in symbols
			option(value=s, selected: s==symbol)= s
	br
	label Size
	input(name="size", type="number", value= size)
	br
	input(type="submit")